
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="container-fluid mt-3">


    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Misafirlerimiz</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.guest</h2>
                        <p class="text-white mb-0">@DateTime.Now.ToString("MMMM")-@DateTime.Now.Year</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-user"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Çalışanlarımız</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.staff</h2>
                        <p class="text-white mb-0">@DateTime.Now.ToString("MMMM")-@DateTime.Now.Year</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-battery"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Odalarımız</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.room</h2>
                        <p class="text-white mb-0">@DateTime.Now.ToString("MMMM")-@DateTime.Now.Year</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-home"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Hizmetlerimiz</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.services</h2>
                        <p class="text-white mb-0">@DateTime.Now.ToString("MMMM")-@DateTime.Now.Year</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-photo"></i></span>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("StaffListAdmin")
  
    <div class="row">
        @await Component.InvokeAsync("FaceBookFollowers")

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-linkedin">
                    <span class="s-icon"><i class="fa fa-linkedin"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">350</h4>
                            <p class="m-0">Takip Ettiklerim</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">380</h4>
                            <p class="m-0">Takipçiler</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-googleplus">
                    <span class="s-icon"><i class="fa fa-google-plus"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">1100</h4>
                            <p class="m-0">Takip Ettiklerim</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">528</h4>
                            <p class="m-0">Takipçiler</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="social-graph-wrapper widget-twitter">
                    <span class="s-icon"><i class="fa fa-twitter"></i></span>
                </div>
                <div class="row">
                    <div class="col-6 border-right">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">250</h4>
                            <p class="m-0">Takip Ettiklerim</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                            <h4 class="m-1">500</h4>
                            <p class="m-0">Takipçiler</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



